<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pagarme_abstract>
                <active>0</active>
                <!--<model>pagarmePaymentGenericFacade</model>-->
                <!--<recurring_type>ONECLICK</recurring_type>-->
                <!--<order_status>pending</order_status>-->
                <demo_mode>1</demo_mode>
                <!--<debug>1</debug>-->
                <!--<title_renderer>title_image</title_renderer>-->
                <!--<sepa_flow>sale</sepa_flow>-->
                <!--<split_payments_refund_strategy>1</split_payments_refund_strategy>-->
                <!--<group>pagarme</group>-->
            </pagarme_abstract>
        </payment>
    </default>
</config>
